[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymongo = "*"
requests = "*"
certifi = "*"
dnspython = "*"
tqdm = "*"
httpretty = "*"
mongomock = "*"
pymongo-inmemory = "*"
web3 = "*"
meilisearch = "*"

[dev-packages]

[requires]
python_version = "3.9"
